/* SPDX-License-Identifier: MPL-2.0 */

/* Copyright © 2020 Jamie Nguyen
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.home {
  padding: 0;
  min-height: 310px;
  height: 66vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

  .give-me-a-verse__button {
    width: calc(190px + 4vmax);
    height: calc(50px + 1vmax);
    box-shadow: 2px 4px var(--color-mid);

    &:active {
      box-shadow: 1px 1px var(--color-mid);
      background: var(--color-mid-bg);
      transform: translate(1px, 3px);
    }
  }
}

.home__item {
  padding: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__link {
  position: relative;
  color: var(--color-brand-accessible);
  transition: all 0.3s ease;
  border-bottom: 6px solid rgba(var(--color-brand-rgb), 0.8);
  padding-bottom: 3px;

  &:visited {
    color: var(--color-brand-accessible);
  }

  @include attention {
    opacity: 0.6;
  }
}

.home__text {
  margin: 0;
  line-height: 1.6;
  text-align: center;
  font-size: calc(1.7rem + 0.5vmax);
  letter-spacing: 0.03rem;
  color: var(--color-fg);
  font-family: var(--font-brand);
}

.home__p {
  display: block;
}
